<% provide(:title, "About") %>
<h1>What is #SideProjectSummer?</h1>
<p>#SideProjectSummer is your chance to carve out time to code. If you've ever thought, "I wish I understood that," or if you already know something and want to know more, this is for you!</p>
<p>The main event is on Twitter every Friday afternoon between the 3rd of March and the 30th of August. Use and follow the hashtag <%= link_to "#SideProjectSummer", "https://twitter.com/search?q=sideprojectsummer" %> to share what you're learning (or failing to learn!) and hear from other people doing similar things. If you sign up on this site and connect to Twitter, we'll automatically tweet for you each time you start or finish a project!</p>
<p>#SideProjectSummer is also a great way for employers to support their people as they learn new skills, which can feed directly back into the business, but will certainly help keep people learning and engaged!</p>
<p>#SideProjectSummer is a side project itself, initiated by Emma Barnes of General Products (Consonance, Snowbooks and Make Our Book), and this site was coded in a pre-Summer Side-Project by <%= link_to "John Pettigrew", user_path(1) %> of We Are Futureproofs.</p>
<p>We have a <%= link_to "Privacy policy", privacy_path %>, which you should read, but, in essence:</p>
<ul>
  <li>if you create an account here, this site will record your name, email address and projects;</li>
  <li>your name and projects are listed publicly, but your email address is available only to other signed-in users;</li>
  <li>there are no cookies except what is needed to enable you to log in and remain logged in;</li>
  <li>your data are stored in the EU at Heroku (our server company) and are not used for anything other than to deliver this site to its users and visitors;</li>
  <li>you can change your details or delete your account and projects at any time using the features of the site.</li>
</ul>
<p>Above all, enjoy learning to code (better)!</p>
