<% provide(:title, "Home") %>
<h3>
  What is #sideprojectsummer?
</h3>
<ul>
  <li>It's your chance to carve out time to code</li>
  <li>1pm to 5pm each Friday from May 3rd to August 30th</li>
  <li>Each Friday afternoon, tweet your questions, progress, ideas and results on <a href="https://twitter.com/search?q=sideprojectsummer" "target"="_blank">#sideprojectsummer</a> to get friendship, feedback and help from other friendly sideproject-ers</li>
  <li>Do what you like: a tutorial, your first app, or a new programming language</li>
  <li>There's no need to sign up. Join in by tweeting using the hashtag for as much or as little of each Friday afternoon as you can. Use your lunchbreak or ask your employer to contribute hours for your continuing professional development.
  </li>
  <li>If you'd like to, you can <a href="projects">share your project</a> with other participants. This can give other people ideas for what to do themselves, and let you hold yourself accountable for meeting your goals.
  </li>
  <li>Download, print and distribute A4 flyers to spread the word:</li>
  <a href="/images/A4poster.jpg"><img src="/images/A4poster.jpg"></a>
  <a href="/images/A4posterwhat.jpg"><img src="/images/A4posterwhat.jpg"></a>
  <a href="/images/A4posterwhy.jpg"><img src="/images/A4posterwhy.jpg"></a>
  <a href="https://www.sideprojectsummer.com/samplepolicy.rtf"><img src="/images/hr.jpg"></a>
</ul>
