<% provide(:title, 'User profile') %>
<h3>
  <%= render @user %>
</h3>

<div>
  <% if @user.projects.any? %>
    <h3>Projects (<%= @user.projects.count %>)</h3>
    <ol class="projects">
      <%= render @projects %>
    </ol>
  <% end %>
</div>
