<% provide(:title, 'All projects') %>
<h1>All projects</h1>

<%= will_paginate %>

<ul class="index projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</ul>

<%= will_paginate %>

<p class="new-project"><%= link_to "List a new project", new_project_path %></p>
