<% provide(:title, 'All projects') %>
<h1>All projects</h1>

<%= will_paginate %>

<ul class="index projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</ul>

<%= will_paginate %>
