// Header styles

header {
  width:100%;
  padding:0;
  margin:0;
  height:60px;
  background-color:black;
  color:white;
  position:fixed;
  top:0;
  left:0;
  font-size:18px;
  font-weight:700;

  nav{
    height:100%;
    overflow:hidden;

    a#logo{
      float:left;
      padding: 5px 0 0 30px;
    }

    ul{
      margin:0;
      float:right;
      height:100%;
      li {
        list-style:none;
        float:left;
        display:inline-block;
        padding:20px 30px 0 30px;
        height:100%;
        a {
          color:white;
          text-decoration:none;
        }
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}

.nav-btn {
  background-color:#333;
}

// Footer styles

footer {
  width:100%;
  padding:0;
  margin:0;
  height:60px;

  p {
    float:left;
    padding-left: 30px;
  }

  ul{
    margin:0;
    float:right;
    height:100%;
    li {
      list-style:none;
      float:left;
      display:inline-block;
      padding:20px 30px 0 30px;
      height:100%;
      a {
        text-decoration:none;
      }
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

// Alerts

.alert{
  border-radius:7px;
  padding:10px;
}

.alert-success{
  background-color:#a9fcc0;
}

.alert-danger{
  background-color:#fc948a;
}

// Form styles

label {
  display:block;

  &.checkbox {
    display:inline-block;
    vertical-align:middle;
    margin-top:-10px;
  }
}

input, textarea {
  display:block;
  margin-bottom:15px;
  width:100%;

  &[type='checkbox'] {
    display:inline-block;
    vertical-align:middle;
    width:25px;
    margin-top:5px;
  }

  &[type='submit'] {
    font-size:100%;
  }

  &.form-source {
    margin-bottom:5px;
  }
}

.small {
  margin-top:0;
  font-size:80%;
}

.project-finished-field {
  border-radius:7px;
  padding:10px;
  background-color:#fc948a;
  margin-bottom:30px;
}

// Index pages for users and projects

.content>h1 {
  font-size:40px;
  margin-top:120px;
}

.index {
  padding-inline-start:0;

  li {
    list-style:none;
    border-top: 3px #ccc solid;
    padding: 15px;
    min-height:48px;
    clear:both;
    &:last-of-type {
      border-bottom:3px #ccc solid;
    }
    a {
      font-weight:700;
      color:black;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
  .gravatar {
    width:50px;
    height:50px;
    float:left;
    padding-bottom:15px;
  }
  .user-name {
    float:left;
    padding: 15px;
    color:black;
    &:hover {
      text-decoration:underline;
    }
  }
  .project-listed, .project-source {
    text-align:right;
  }
}

.projects {
  p {
    margin:6px 0;
  }

  a {
    text-decoration:none;
    color:black;
    &:hover {
      text-decoration:underline;
    }
  }
}

.project {
  .project-name {
    font-size: 24px;
  }

  .project-listed, .project-source {
    text-align:right;
  }
}

.extra-space-after:after {
  content:" ";
  display:inline-block;
  width:15px;
}

// Pagination components

.pagination {
  margin-left:auto;
  margin-right:auto;
  width:60%;
  clear:both;
  border:2px solid #ccc;
  border-radius:7px;
  padding:10px;

  .previous_page {
    border-right:2px solid #ccc;
    padding:10px 10px 10px 0;
  }

  em {
    padding:0 5px;
    font-style:normal;
    color:#ccc;
  }

  a {
    padding:10px 5px;
    color:black;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }

  .next_page {
    border-left:2px solid #ccc;
    padding: 10px 0 10px 10px;
  }

  .disabled {
      color:#ccc;
  }
}

// Profile page

.profile-head {
  padding-top:60px;
  .gravatar {
    float:left;
    padding-bottom:15px;
  }
  .profile-name {
    font-weight:700;
    font-size: 24px;
    float:left;
    padding: 40px 15px;
  }
  .profile-contact {
    clear:both;
    text-align:right;
    padding:0 30px 10px 0;
  }
}

.new-project {
  a {
    display:block;
    padding:20px 40px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ccc;
    text-align:center;
    border-radius:7px;
    color:black;
    font-weight:700;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}
