// Header styles

header {
  width:100%;
  padding:0;
  margin:0;
  height:60px;
  background-color:black;
  color:white;
  position:fixed;
  top:0;
  left:0;
  font-size:18px;
  font-weight:700;

  nav{
    height:100%;

    #menuToggle input {
      display:none;
    }

    a#logo{
      float:left;
      padding: 5px 0 0 30px;
    }

    ul{
      margin:0;
      float:right;
      height:100%;
      li {
        list-style:none;
        float:left;
        display:inline-block;
        padding:19px 30px 19px 30px;
        height:100%;
        a {
          color:white;
          text-decoration:none;
          &:hover{
            color: tomato;
            transition: all .25s ease-in;
            text-decoration:underline;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    font-size:14px;
    nav{
      a#logo{
        padding: 5px 0 0 20px;
      }

      ul{
        li {
          padding:20px;
        }
      }
    }
  }
}

.nav-btn {
  background-color:#333;
}

// Footer styles

footer {
  width:100%;
  padding:0;
  margin:0;
  height:60px;

  p {
    float:left;
    padding-left: 30px;
  }

  ul{
    margin:0;
    float:right;
    height:100%;
    li {
      list-style:none;
      float:left;
      display:inline-block;
      padding:20px 30px 0 30px;
      height:100%;
      a {
        text-decoration:none;
      }
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

// Alerts

.alert{
  border-radius:7px;
  padding:10px;
}

.alert-success{
  background-color:#a9fcc0;
}

.alert-danger{
  background-color:#fc948a;
}

// Form styles

label {
  display:block;

  &.checkbox {
    display:inline-block;
    vertical-align:middle;
    margin-top:-10px;
  }
}

input, textarea {
  display:block;
  margin-bottom:15px;
  width:100%;

  &[type='checkbox'] {
    display:inline-block;
    vertical-align:middle;
    width:25px;
    margin-top:5px;
  }

  &[type='submit'] {
    font-size:100%;
    margin-bottom:0;
  }

  &.form-source {
    margin-bottom:5px;
  }
}

input[required], textarea[required]{
  background-image: radial-gradient(#F00 50%, transparent 16%);
  background-size: 1em 1em;
  background-position: right top;
  background-repeat: no-repeat;
}

.small {
  margin-top:0;
  font-size:80%;
}

.project-finished-field {
  border-radius:7px;
  padding:10px;
  background-color:#fc948a;
  margin-bottom:30px;
}

.action-fields {
  border-radius:7px;
  padding:15px;
  &.submit {
    margin-top:45px;
    background-color:#a9fcc0;
  }
  &.delete {
    background-color:#fc948a;
  }
}

// Index pages for users and projects

.content>h1 {
  font-size:40px;
  margin-top:120px;
}

.index {
  padding-inline-start:0;

  li {
    list-style:none;
    border-top: 3px #ccc solid;
    padding: 15px;
    min-height:48px;
    clear:both;
    &:last-of-type {
      border-bottom:3px #ccc solid;
    }
    .delete-user-link {
      float:right;
      padding: 15px 0;
      color:black;
      font-style:italic;
      &:hover {
        text-decoration:underline;
      }
    }
    a {
      font-weight:700;
      color:black;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
  .gravatar {
    width:50px;
    height:50px;
    float:left;
    padding-bottom:15px;
  }
  .user-name {
    float:left;
    padding: 15px;
    color:black;
    &:hover {
      text-decoration:underline;
    }
  }
  .project-listed, .project-source {
    text-align:right;
  }
}

.user-admin {
  font-weight: 400;
  color:red;
}


.projects {
  p {
    margin:6px 0;
  }

  a {
    text-decoration:none;
    color:black;
    &:hover {
      text-decoration:underline;
    }
  }
}

.project {
  .project-name {
    font-size: 18px;
    margin-block-start:8px;
  }

  .project-description {
    max-width:400px;
    overflow:auto;
  }

  .project-listed, .project-source {
    text-align:right;
  }

  .project-finished {
    position:relative;
    float:right;
    padding-top:15px;
  }
}

div.project {
  .project-name{
    font-weight:700;
  }

  .project-owner {
    a {
      text-decoration:none;
      font-weight:700;
      color:black;

      &:hover {
        text-decoration:underline;
      }
    }
  }

  .project-finished {
    padding:0 15px 0 0;
    margin-top:-10px;
    float:left;
  }
}

.extra-space-after:after {
  content:" ";
  display:inline-block;
  width:15px;
}

// Pagination components

.pagination {
  margin-left:auto;
  margin-right:auto;
  clear:both;
  border:2px solid #ccc;
  border-radius:7px;
  padding:10px;
  display:inline-block;

  .previous_page {
    border-right:2px solid #ccc;
    padding:10px 10px 10px 0;
    width: 8em;
  }

  em {
    padding:0 5px;
    font-style:normal;
    color:#ccc;
  }

  a {
    padding:10px 5px;
    color:black;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }

  .next_page {
    border-left:2px solid #ccc;
    padding: 10px 0 10px 10px;
    width: 8em;
  }

  .disabled {
      color:#ccc;
  }
}

// Profile page

.profile-head {
  padding-top:60px;
  .gravatar {
    float:left;
    padding-bottom:15px;
  }
  .profile-name {
    font-weight:700;
    font-size: 24px;
    float:left;
    padding: 40px 15px;
  }
  .profile-contact {
    clear:both;
    text-align:right;
    padding:0 30px 10px 0;
  }
}

.new-project {
  a {
    display:block;
    padding:20px 40px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ccc;
    text-align:center;
    border-radius:7px;
    color:black;
    font-weight:700;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

// Burger menu

@media (max-width: 680px) {
  header {
    nav {
      a#logo {
        float:right;
        padding: 5px 30px 0 0;
      }

      a {
        text-decoration: none;
        color: #232323;
        transition: color 0.25s ease;

        &:hover {
          color: tomato;
        }
      }

      #menuToggle {
        display: block;
        position: relative;
        top: 20px;
        left: 50px;
        z-index: 100;
        -webkit-user-select: none;
        user-select: none;

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */
          -webkit-touch-callout: none;

          // Transform all the slices of hamburger into a crossmark.
          &:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
            // But let's hide the middle one.
            &:nth-last-child(3) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }
            // Ohyeah and the last one should go the other direction
            &:nth-last-child(2) {
              transform: rotate(-45deg) translate(0, -1px);
            }
          }

          // And let's slide it in from the left
          &:checked ~ ul {
            transform: none;
          }
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: #cdcdcd;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

          &:first-child {
            transform-origin: 0% 0%;
          }

          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }

      // Make this absolute positioned at the top left of the screen

      #menu {
        position: absolute;
        width: 150px;
        margin: -100px 0 0 -50px;
        padding: 100px 50px 250px 50px;
        background: black;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        li {
          padding: 10px 0;
          font-size: 22px;
          display:block;
          float:none;
        }
      }
    }
  }
  .nav-btn {
    background-color:inherit;
  }
}
