@charset "UTF-8";

/* telugu */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKvE3UZrok56nvamSuJd_QxvXIZt9DStos.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKvE3UZrok56nvamSuJd_QjvXIZt9DStos.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKvE3UZrok56nvamSuJd_QtvXIZt9DS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* telugu */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Guntur SemiBold'), local('HindGuntur-SemiBold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_zymWcold34jIJv5lM.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Guntur SemiBold'), local('HindGuntur-SemiBold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_zymWc6ld34jIJv5lM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Guntur SemiBold'), local('HindGuntur-SemiBold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_zymWc0ld34jIJv.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* telugu */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Guntur Bold'), local('HindGuntur-Bold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_yWmGcold34jIJv5lM.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Guntur Bold'), local('HindGuntur-Bold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_yWmGc6ld34jIJv5lM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Guntur Bold'), local('HindGuntur-Bold'), url(https://fonts.gstatic.com/s/hindguntur/v4/wXKyE3UZrok56nvamSuJd_yWmGc0ld34jIJv.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  background-image: image-url("background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fefaf1;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  padding-top: 20px;
}

.row {
  display: -webkit-flex;
  display: flex;
  flex: 1;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 40px 10px 10px 10px;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  margin-top: 220px;
}

h2 {
  font-size: 75px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
}

h3 {
  padding: 25px;
  font-weight: 600;
  font-size: 20px;
}

span.small {
  letter-spacing: 0;
  font-size: 50%;
}

a {
  color: #001af8;
}

.poster>img {
  width: 100px;
}

@media (max-width: 1100px) {
  body {
    padding-top: 0;
    background-size: cover;
  }

  .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  h1 {
    margin-top: 0px;
  }

  h2 {
    padding: 0;
  }

}
