<footer>
  <p>#sideprojectsummer is a <a href="https://consonance.app/">General Products Ltd</a> side project </p>
  <ul>
    <li><%= link_to "About #SideProjectSummer", about_path %></li>
    <li><%= link_to "Privacy policy", privacy_path %></li>
  </ul>
</footer>
