<footer>
  <p>#sideprojectsummer is a <a href="https://consonance.app/">General Products Ltd</a> side project </p>
  <p><%= link_to "About #SideProjectSummer", about_path %></p>
  <p><%= link_to "Privacy policy", privacy_path %></p>
</footer>
